h1 {
    font-size: 36px;
    color: #0b0404;
}
.enc{
background-color: #0b0404;
}
 {
     box-sizing: border-box;
 }

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #030e05;
    padding: 20px;
    text-align: center;
}

/* COLOR DE LA BARRA  */
.topnav {
    overflow: hidden;
    background-color: #1c81aa;
}

/* COLOR DE SELECCION  */
.topnav a {
    float: left;
    display: block;
    color: #1231e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #1231e4;
    color: #1c81aa;
}


#formulario{
    border: 1px solid #1c81aa;
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lj_bg_nav{
    background-color: #1c81aa !important;
}
.city {
    background-color: #99b5e4;
    color: white;
    padding: 10px;
}
#myHeader {
    background-color: #1c81aa;
    color: black;
    padding: 40px;
    text-align: center;
}
.ima{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


·#formulario
 a:link, a:visited {
     background-color: #99b5e4;
     color: #1628e4;
     padding: 15px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
 }

a:hover, a:active {
    background-color: #6da9ff;
}
h1{
    style: background-color #1c81aa;
    text-align: center;
}


tr{

    color: #e41314;
    text-align: center;
}


td{

    color: #1231e4;
    text-align: center;
}



/* COLOR DE LA PALABRA PEICULAS MACO  */
h1 {

    color: #1c81aa;
    text-align: center;


}

p {
    border: #1c81aa 4px;
    color: #081553;
}

a {
    color: #081553;
}



style
  {
     box-sizing: border-box;
 }

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;

}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.contenedor {
    width: 500px;
    margin: 30px auto;
    left: auto;
}
.contenedor ul{
    list-style: none;
    width: 400px;
    display: flex;
    animation: slide 25s infinite;
}
@keyframes slide {
    0% {margin-left: 0px}
    20%{margin-left: 0px}

    25%{margin-left: -700px}
    45%{margin-left: -700px}

    50% {margin-left: -1400px}
    70%{margin-left: -1400px}

    75% {margin-left: -2100px}
    100%{margin-left: -2100px}
}
.uno{
    width: 500px;
    height: 300px;
;
}
